NEXT_PUBLIC_SITE_URL=https://your-domain.example
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GSC_VERIFICATION=
NEXT_PUBLIC_CLICKBANK_DEFAULT_HOPLINK=
NEXT_PUBLIC_CLICKBANK_PRODENTIM_HOPLINK=
NEXT_PUBLIC_CLICKBANK_BRAINSONGX_HOPLINK=
NEXT_PUBLIC_CLICKBANK_ENREV_HOPLINK=
NEXT_PUBLIC_CLICKBANK_PROSTAVIVE_HOPLINK=
NEXT_PUBLIC_CLICKBANK_AUDIFORT_HOPLINK=
NEXT_PUBLIC_AD_PROVIDER=
NEXT_PUBLIC_AD_TOP_SCRIPT_URL=
NEXT_PUBLIC_AD_TOP_ZONE=
NEXT_PUBLIC_AD_INLINE_SCRIPT_URL=
NEXT_PUBLIC_AD_INLINE_ZONE=
NEXT_PUBLIC_AD_SIDEBAR_SCRIPT_URL=
NEXT_PUBLIC_AD_SIDEBAR_ZONE=
NEXT_PUBLIC_AD_BOTTOM_SCRIPT_URL=
NEXT_PUBLIC_AD_BOTTOM_ZONE=
